.button {
	--button-shadow-hover: -3px 3px 10px 0px #00000040;
	padding: 20px 30px;
	background-color: var(--color-black);
	border-radius: 10px;
	width: fit-content;
	transition:
		transform 0.2s ease,
		box-shadow 0.2s ease;

	@media (max-width: 1200px) {
		padding: 16px 24px;
		border-radius: 8px;
	}

	@media (max-width: 1024px) {
		padding: 13px 20px;
		border-radius: 6px;
	}
}

.button:hover {
	box-shadow: var(--button-shadow-hover);
	transform: translateY(-1px);
}

.text {
	color: var(--color-white);
	line-height: 90%;
}
