.container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.container > * {
	transition: margin-top 0.35s ease;
}

.container > * + * {
	margin-top: -100px;
}

.container > *:hover + *,
.container > *:focus-within + * {
	margin-top: 0;
}

@media (hover: none) {
	.container > * + * {
		margin-top: 0;
	}
}
