h1 {
	font-family: Inter;
	font-weight: 500;
	font-size: 75px;
	line-height: 120%;
	letter-spacing: 0;
}

h2 {
	font-family: Inter;
	font-weight: 500;
	font-size: 30px;
	line-height: 120%;
	letter-spacing: 0;
}

h4 {
	font-family: Inter;
	font-weight: 500;
	font-size: 15px;
	line-height: 160%;
	letter-spacing: 0;
}

h6 {
	font-family: Inter;
	font-weight: 500;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: 0;
}

.body {
	font-family: Inter;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0;
}

.bodyAccent {
	font-family: Inter;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0;
}

.caption {
	font-family: Inter;
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	letter-spacing: 0;
}

:root {
	--color-black: #232323;
	--color-gray: #e3e3e3;
	--color-light-gray: #efefef;
	--color-white: #ffffff;
}
