.button {
	--button-bg: rgba(255, 255, 255, 0.1);
	--button-color: #13151a;
	--button-bg-hover: rgba(255, 255, 255, 0.32);
	--button-shadow-hover: 0 8px 16px rgba(35, 35, 35, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.74);
	padding: 15px 20px;
	border-radius: 10px;
	background: var(--button-bg);
	backdrop-filter: blur(15px);
	color: var(--button-color);
	white-space: nowrap;
	text-decoration: none;
	transition:
		transform 0.2s ease,
		background-color 0.2s ease,
		box-shadow 0.2s ease,
		color 0.2s ease;
}

.button:hover {
	background: var(--button-bg-hover);
	transform: translateY(-1px);
	box-shadow: var(--button-shadow-hover);
}

.button:active {
	transform: translateY(0);
}

.buttonDark {
	--button-bg: var(--color-black);
	--button-color: var(--color-white);
	--button-bg-hover: var(--color-black);
	--button-shadow-hover: -3px 3px 10px 0px #00000040;
}

.text {
	line-height: 90%;
}
