.nav {
	position: fixed;
	width: 100%;
	top: 30px;
	left: 50%;
	z-index: 1000;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	gap: 30px;
	padding: 10px;
	max-width: 628px;
	border-radius: 15px;
	font-family: 'Inter', sans-serif;
	background-color: #ffffff4d;
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.left {
	padding: 15px;

	h6 {
		text-wrap-mode: nowrap;
	}
}

.actions {
	display: flex;
	gap: 5px;
}
