.container {
	padding-top: 110px;
	display: flex;
	flex-direction: column;
	gap: var(--gap-100);
}

.container section[id] {
	scroll-margin-top: 140px;
}

.grid {
	display: grid;
	grid-template-columns: 220fr 1060fr;
	gap: 40px;

	@media (max-width: 430px) {
		grid-template-columns: 1fr;
	}
}

.navigation {
	position: sticky;
	top: 100px;
	align-self: start;

	@media (max-width: 430px) {
		display: none;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--gap-100);
}
