.card {
	display: grid;
	grid-template-columns: 770fr 510fr;
	height: 650px;
	--brand-border-radius: 15px;
}

.image {
	background-color: green;
	border-bottom-left-radius: var(--brand-border-radius);
	border-top-left-radius: var(--brand-border-radius);
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 60px 60px 60px 40px;
	background-color: var(--color-white);
	border-bottom-right-radius: var(--brand-border-radius);
	border-top-right-radius: var(--brand-border-radius);
}

.texts {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.caseName,
.caseParagraph {
	color: var(--color-black);
	opacity: 0.5;
}
